@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #111111;
  color: #ffffff;
}

.nav{
  background-color: #111111;
  padding: 1rem 0.5rem;
  box-shadow: 0 0.2rem rgba(0,0,0,0.2);
}


.site-title{
  font-size: 1.2rem;
  font-weight:700;
  text-decoration: none;
  color: inherit;
  margin: 10rem; 
  
}

.bitcoin{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 3rem;
  padding: 1rem;
  margin: 3rem 10rem;
}

.market{
  text-align: center;
}

.bitcoin-item{
  height: 400px;
  width: 600px;
  border-radius: 5px;
  padding: 0;
  background: #111111;
  box-shadow: 0 0 5px 5px rgba(0,0,0,1);
}

.bitcoin-item p{
  text-align:center;
  font-weight:400;
  font-size: 1.2rem;
}
.bitcoin-overview{
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.bitcoin-item p span{
  font-weight:600;
  font-size: 1.5rem;
}

.crypto-table{
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  min-width: 500px;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.crypto-table thead tr{
  background-color:  #ffffff;
  color: black;
  text-align: left;
  font-weight: bold;
}
.crypto-name{
  display: flex;
  gap:0.5rem;
  margin-right:-90px;

}
.crypto-name p{
  color: #ffffff;
}

.link{
  text-decoration: none;
}

.crypto-name img{
  width: 25px;
  height: 25px;
  align-self: center;

}
.crypto-table th,
.crypto-table td{
  padding: 12px 50px;
}


.crypto-table tbody tr{
  border-bottom:  1px solid #dddddd;
  font-weight: 500;
}

.crypto-table tbody tr:hover{
  background-color: #22577a;
}

.sparklines{
  margin: auto;
  width: 300px;
}

.range{
  margin: 50px 700px;
  padding: 10px;
  display: flex;
}

.range button{
  margin: 1rem;
}

.details{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin-name{
  background-color: #111111;
  display: flex;
  flex-direction: column;
  padding:100px;
  align-items: center;
  border:1px transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,1);
}

.coin-name a{
  margin-top: 50px;
  margin-bottom: -30px;
}

.coin-name img{
  width: 100px;
  height: 100px;
}

.coin-title{
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

.coin-link{
  text-decoration: none;
  color: inherit;
}

.coin-prices{
  padding: 30px 10%;
  background-color: #111111;
  text-align: center;
  border:1px transparent;
  border-radius: 5px;
  
  box-shadow: 0 0 5px 5px rgba(0,0,0,1);
}


.prices{
  display: flex;
  gap:5rem;

}


.high-prices, .low-prices{
  background-color: #111111;
  padding: 20px 35px;
  border:1px transparent;
  border-radius: 5px;
  font-weight: 300;
}

.loading{
  text-align: center;
  font-weight: bold;
  margin-top: 80px;
}

.current-price{
  font-size: 50px;
  font-weight: bold;
}

.current-change-perc{
  color: green;
  font-size: 25px;
  font-weight: bold;
  
  
  
}

.apexcharts-tooltip{    
  color:green;    
  }

.prices-heading{
  font-size: 1.5rem;
  font-weight: 800;
}

.market-data{
  padding:100px;
  background-color: #111111;
  border:1px transparent;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.2rem;
  box-shadow: 0 0 5px 5px rgba(0,0,0,1);
}

.market-data strong{
  font-weight: 900;
  font-size: 1.3rem;
}

.description{
  background-color: #111111;
  border:1px transparent;
  border-radius: 5px;
  font-weight: 300;
  padding: 25px;
  margin: 80px;
  text-align: center;
  font-size: 1.2rem;
  
  box-shadow: 0 0 5px 5px rgba(0,0,0,1);
}

.description a{
  color: #89c2d9;
}
